<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>感谢参与</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'experiment.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body>
    <header>
        <div class="title-container">
            <h1>意义图评分实验</h1>
        </div>
    </header>
    <main>
        <div class="subtitle-container">
            <h2>感谢您的参与</h2>
        </div>
        <div class="content-container">
            <p>您的实验内容已经提交，衷心感谢您的参与。</p>
            <p>如无特殊情况，被试费将在提交后48小时内发放到您填写的支付宝账户。</p>
            <p>有任何问题可与主试联系：周同学 13819106315</p>
        </div>
    </main>
</body>
</html>
